/**********************************

GENERAL

HEADER
FOOTER

HOME
CONTENT PAGE
MEDIA LIBRARY
MEDIA WATCH
DISPLAY LETTER
ABOUT
PRIVACY

*************************************/

/** COLOUR VARIABLES **********************/
:root {
  --blue: #019cf7;
  --red: #ff8f6f;
  --orange: #ffbe68;
  --green: #0ba569;
  --yellowBkgd: #fed498;
  --blueBkgd: #2fb2ff;
  --greenBkgd: #53ce8d;
  --redBkgd: #fe9774;
}

/** GENERAL ****************************************/

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #d3d3d3;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}

/** KEYFRAMES ************************************/

@-webkit-keyframes shake {
  from {
    -webkit-transform: rotate(10deg);
  }
  to {
    -webkit-transform-origin: center center;
    -webkit-transform: rotate(-10deg);
  }
}

@-webkit-keyframes grow {
  from {
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    transform: scale(2, 2);
  }
  to {
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
}

/** HEADER *************************************/

.header {
  background-color: var(--blueBkgd);
  height: 50px;
  padding-top: 5px;
}

#header-logo {
  width: 30%;
  float: left;
  margin: 0.7em;
  margin-left: 1em;
}

#header-index {
  width: 25px;
  margin-right: 20px;
  margin-top: 0.5em;
  float: right;
}

#header-media {
  width: 25px;
  margin-right: 1.5em;
  float: right;
  margin-top: 0.4em;
}

/*HEADER MEDIA QUERIES*/
@media (min-width: 500px) {
  #header-logo {
    width: 23%;
  }
}
@media (min-width: 800px) {
  #header-logo {
    width: 15%;
  }
}
@media (min-width: 1000px) {
  .header {
    height: 65px;
  }
  #header-index {
    width: 40px;
    margin-right: 30px;
    margin-top: 0.8em;
  }

  #header-media {
    width: 40px;
    margin-right: 2em;
    margin-top: 0.6em;
  }
}

/** FOOTER **************************************/

.footer {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 15px;
  background-color: var(--blueBkgd);
  color: white;
  text-align: center;
  height: 25px;
  font-size: 0.8em;
}

#privacy {
  color: white;
  text-decoration: none;
  float: right;
  margin-top: 5px;
}

#about {
  color: white;
  text-decoration: none;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

#footer-index {
  width: 20px;
  padding-top: 5px;
  margin-left: 20px;
}

#footer-media {
  width: 22px;
  margin-left: 20px;
}

/*FOOTER MEDIA QUERIES*/
@media (min-width: 900px) {
  .footer {
    min-height: 40px;
    font-size: 1em;
  }

  #privacy {
    margin-top: 5px;
  }

  #about {
    margin-top: 5px;
  }
}
@media (min-width: 1000px) {
  .footer {
    min-height: 30px;
  }
}

/** HOME ****************************************/

.home-box {
  flex: 1;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-color: var(--orange);
  padding-top: 2em;
}

.home-box h2 {
  padding: 0;
  color: var(--green);
}

.home-box h3 {
  padding: 0 0.5em 0;
  color: var(--blue);
}

.home-box button {
  background-color: var(--greenBkgd);
  color: white;
  font-size: 1.8em;
  border: solid var(--green);
  box-shadow: 3px 3px 5px var(--green);
  border-radius: 10%;
  min-width: 100px;
}

.home-box button:hover {
  cursor: pointer;
}

.play {
  letter-spacing: 2px;
  margin-top: 0.6em;
  -webkit-animation: shake 0.1s ease-in-out 3s infinite alternate;
  animation: shake 0.1s ease-in-out 3s infinite alternate;
}

.logoImage {
  max-width: 50%;
}

.kidImage {
  width: 20%;
  margin: 0.5em;
}

.imgWrapper {
  margin: auto;
}

.hmImage {
  width: 20%;
  margin: 10px;
}

/*HOME MEDIA QUERIES*/
@media (min-width: 500px) {
  .home-box {
    padding-top: 3em;
  }
  .home-box h2 {
    font-size: 1.5em;
    padding: 0;
  }
  .home-box h3 {
    font-size: 1.3em;
    padding: 0;
  }
  .home-box button {
    font-size: 2em;
  }
  .kidImage {
    width: 20%;
  }
  .play {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
  .hmImage {
    width: 15%;
  }
}
@media (min-width: 700px) {
  .home-box h2 {
    padding: 1.5em 0 0.5em;
  }
  .home-box h3 {
    padding: 0 0 0em;
  }
  .play {
    font-size: 2em;
  }
  .logoImage {
    max-width: 300px;
  }
  .kidImage {
    max-width: 90px;
  }
  .hmImage {
    max-width: 80px;
  }
}

/** CONTENT PAGE **********************************/

.content-box {
  flex: 1;
  margin: auto;
  width: 100%;
  min-height: calc(100vh - 104px);
  background-color: var(--greenBkgd);
}

.content-box h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
}

.content-box h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
  padding: 0 0.5em 0;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 0 0.5em 0em;
  max-width: 960px;
  margin: auto;
}

.contents-btn {
  padding: 10px;
  font-size: 1.3em;
  color: #fff;
  border: none;
  border-radius: 50%;
  min-width: 60px;
  background-color: var(--orange);
  -webkit-animation: shake 0.1s ease-in-out 3s 8 alternate;
  animation: shake 0.1s ease-in-out 3s 8 alternate;
}

hr {
  width: 30%;
  margin-bottom: 1em;
}

.contentImage {
  width: 15%;
  margin: 0 20px;
}

/*CONTENTS MEDIA QUERIES*/
@media (min-width: 700px) {
  .button-container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding-top: 2em;
  }
  .content-box h2 {
    margin-top: 3em;
  }
  .contents-btn {
    padding: 10px;
    font-size: 2em;
    min-width: 100px;
    min-height: 70px;
  }
  .content-tv {
    width: 10%;
  }
  hr {
    width: 20%;
  }
  .contentImage {
    max-width: 80px;
  }
}
@media (min-width: 900px) {
  .content-box h2 {
    font-size: 1.5em;
  }
  .content-box h3 {
    font-size: 1.3em;
  }
  .button-container {
    padding-top: 1em;
    padding-bottom: 2em;
  }
  .contents-btn {
    padding: 10px;
  }
  .content-tv {
    width: 13%;
  }
  hr {
    width: 10%;
  }
  .content-box {
    min-height: calc(100vh - 105px);
  }
}

@media (min-width: 1000px) {
  .content-box {
    min-height: calc(100vh - 120px);
  }
}

/** MEDIA LIBRARY **********************************/

.medialibrary-container {
  background-color: var(--red);
}

.medialibrary-box {
  min-height: calc(100vh - 124px);
}

.medialibrary-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0px;
}

.media-image img {
  width: 37%;
  -webkit-animation: shake 0.1s ease-in-out 3s 8 alternate;
  animation: shake 0.1s ease-in-out 3s 8 alternate;
}

.medialibrary-box h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
}

.medialibrary-box h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
}

/*MEDIA LIBRARY MEDIA QUERIES*/

@media (min-width: 500px) {
  .medialibrary-box {
    min-height: calc(100vh - 124px);
  }
  .media-image img {
    width: 40%;
  }
  .medialibrary-images {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 800px) {
  .media-image img {
    width: 35%;
  }
}

@media (min-width: 1000px) {
  .media-image img {
    max-width: 70px;
  }
  .medialibrary-box {
    min-height: calc(100vh - 144px);
    max-width: 1000px;
    margin: auto;
  }
}

/** MEDIA WATCH *************************************/

.video-box {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 104px);
  background-color: var(--orange);
}

.video-box h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
}

.video {
  margin: 4em auto 0;
  max-width: 900px;
}

.mediabackbutton {
  width: 50px;
  margin-top: 3em;
}

/*MEDIA WATCH MEDIA QUERIES*/
@media (min-width: 800px) {
  .video {
    margin-top: 2em;
  }
  .mediabackbutton {
    margin-top: 1em;
  }
}
@media (min-width: 1000px) {
  .video-box {
    min-height: calc(100vh - 125px);
  }
}

/** DISPLAY LETTER ***********************************/

.letter-box {
  flex: 1;
  padding-top: 2.5em;
  min-height: calc(100vh - 145px);
  background-color: var(--blueBkgd);
}

.letters p {
  margin: 0 35px 0;
  padding: 0 0 5px;
}

#listen-icon {
  position: absolute;
  left: 60%;
  width: 30px;
}

#click-icon {
  position: absolute;
  left: 30%;
  width: 30px;
}

.letter-button {
  font-size: 4em;
  font-weight: 600;
  padding-top: 0.7em;
  padding-right: 30px;
  background: none;
  border: none;
  color: white;
  outline: none;
  -webkit-animation: shake 0.1s ease-in-out 3s 6 alternate;
  animation: shake 0.1s ease-in-out 3s 6 alternate;
}

.letter-button:hover {
  cursor: pointer;
}

#next-letter {
  position: absolute;
  left: 85%;
  top: 13%;
  width: 40px;
}

#next-letter:hover {
  cursor: pointer;
}

#previous-letter {
  position: absolute;
  right: 85%;
  top: 13%;
  width: 40px;
}

#previous-letter:hover {
  cursor: pointer;
}

.words-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  margin: 0 1em 0.7em;
}

.split-words {
  text-align: center;
}

.wordDescription {
  position: absolute;
  color: #fff;
  z-index: 1000;
  font-size: 1.5em;
  margin: -0.2em 0 0;
  visibility: hidden;
}

.wordImage {
  margin: 0 15px 0 0;
  -webkit-animation: shake 0.1s ease-in-out 5s 6 alternate;
  animation: shake 0.1s ease-in-out 5s 6 alternate;
}
.wordImage img {
  width: 80%;
}

.wordImage:hover {
  cursor: pointer;
}

.split-words:hover .wordDescription {
  visibility: visible;
  opacity: 1;
}

#media-play {
  width: 50px;
  -webkit-animation: grow 0.4s ease-in-out 7s 1 alternate;
  animation: grow 0.4s ease-in-out 7s 1 alternate;
}

#media-play:hover {
  cursor: pointer;
}

/*DISPLAY LETTER MEDIA QUERIES*/

@media (min-width: 800px) {
  .letter-box {
    min-height: calc(100vh - 137px);
  }
  .split-words {
    margin: 10px;
  }
  .letter-button {
    margin-right: 20px;
    font-size: 5em;
  }
  .letters p {
    font-size: 1.5em;
  }
  #listen-icon {
    position: absolute;
    left: 60%;
    width: 50px;
  }
  #click-icon {
    position: absolute;
    left: 30%;
    width: 50px;
  }
  .letter-box {
    padding-top: 2em;
  }
}
@media (min-width: 1000px) {
  #listen-icon {
    left: 55%;
  }
  #click-icon {
    left: 43%;
  }
  .letter-box {
    min-height: calc(100vh - 157px);
  }
}

/** ABOUT *****************************************/
.about-container {
  margin: 0;
  padding: 0;
  background-color: var(--greenBkgd);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.about-box {
  flex: 1;
  width: 80%;
  margin: auto;
  font-size: 0.7em;
  text-align: left;
  min-height: calc(100vh - 85px);
}

.about-box h2 {
  color: #fff;
  font-size: 1.6em;
  margin-top: 1em;
}

.about-box h3 {
  color: #fff;
  font-size: 1.3em;
  margin-bottom: 1em;
}

.about-heading {
  text-align: center;
}

.profile {
  min-height: 40px;
}

.profile img {
  width: 15%;
  float: left;
  margin-right: 10px;
}

.purpose {
  margin-top: 1.5em;
}

.contact {
  text-align: center;
}
.contact a {
  text-decoration: none;
}

.email {
  color: #fff;
}

/** PRIVACY ********************************************/
.privacy-container {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: var(--redBkgd);
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}
.privacy-box {
  flex: 1;
  width: 80%;
  margin: auto;
  text-align: left;
  min-height: calc(100vh - 70px);
}

.privacy-box h2 {
  color: #fff;
  font-size: 1.2em;
  margin-top: 1em;
}

.privacy-box h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
}

.privacy-heading {
  text-align: center;
}

.opening {
  font-size: 0.8em;
  text-align: justify;
}

.article {
  font-size: 0.6em;
  text-align: justify;
}

.privacy-tohora {
  width: 50%;
  margin-left: 20%;
}

/*ABOUT*/
@media (min-width: 600px) {
  .about-box {
    font-size: 1em;
    min-height: calc(100vh - 85px);
  }
  .about-content {
    column-count: 2;
  }
  .about-text {
    margin-bottom: 30px;
  }
  .profile-images {
    margin-bottom: 5em;
  }
  .profile {
    min-height: 70px;
  }
  .purpose {
    margin-top: 2em;
  }
  .contact {
    text-align: center;
    margin-top: 2em;
  }
  .profile img {
    width: 25%;
  }
}
@media (min-width: 800px) {
  .profile-images {
    margin-bottom: 4em;
  }
  .profile {
    min-height: 85px;
  }
}
@media (min-width: 1000px) {
  .profile-images {
    margin-bottom: 8em;
  }
  .profile {
    min-height: 100px;
  }
  .profile img {
    width: 18%;
  }
  .about-box {
    min-height: calc(100vh - 135px);
  }
}

/*PRIVACY*/
@media (min-width: 400px) {
  .privacy-box {
    min-height: calc(100vh - 66px);
  }
}
@media (min-width: 700px) {
  .privacy-articles {
    column-count: 2;
    font-size: 1.5em;
  }
  .privacy-box h2 {
    font-size: 1.5em;
  }
  .privacy-box h3 {
    font-size: 0.8em;
  }
  .privacy-tohora {
    width: 30%;
    margin-left: 30%;
  }
}
@media (min-width: 1000px) {
  .privacy-box {
    min-height: calc(100vh - 115px);
  }
}

/* Spinner */
.spinner {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.spinner:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
