/**********************************

GENERAL

HEADER
FOOTER

HOME
CONTENT PAGE
MEDIA LIBRARY
MEDIA WATCH
DISPLAY LETTER
ABOUT
PRIVACY

MEDIA QUERIES

*************************************/

/** COLOUR VARIABLES **********************/
:root {
  --blue: #019cf7;
  --red: #ff8f6f;
  --orange: #FFBE68;
  --green: #0ba569;
  --yellowBkgd: #fed498;
  --blueBkgd: #2FB2FF;
  --greenBkgd: #53CE8D;
  --redBkgd: #fe9774;
}

/** GENERAL ****************************************/

html body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #D3D3D3;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}

/** HEADER *************************************/

.header {
  background-color: var(--blueBkgd);
  height: 40px;
  font-size: 1em;
}

.header-name {
  color: white;
  float: left;
  margin: .9em;
  margin-left: 1em;
}

#header-index {
  width: 25px;
  margin-right: 20px;
  margin-top: .5em;
  float: right;
}

#header-media {
  width: 25px;
  margin-right: 1.5em;
  float: right;
  margin-top: .4em;

}


/** FOOTER **************************************/

.footer {
  padding-top: 1px;
  padding-left: 20px;
  padding-right: 25px;
  padding-bottom: 5px;
  background-color: var(--blueBkgd);
  color: white;
  text-align: center;
  min-height: 20px;
  font-size: .8em;
}

.footer-two {
  padding: 5px;
  padding-left: 20px;
  padding-right: 25px;
  background-color: var(--blueBkgd);
  color: white;
  font-size: 1em;
  text-align: center;
  min-height: 30px;
  vertical-align: middle;
  clear: both;
}

#privacy {
  color: white;
  text-decoration: none;
  float: right;
  margin-top: 5px;
}

#about {
  color: white;
  text-decoration: none;
  float: left;
  margin-top: 5px;
  margin-right: 5px;
}

#footer-index {
  width: 20px;
  padding-top: 5px;
  margin-left: 20px;
}

#footer-media {
  width: 22px;
  margin-left: 20px;
}

/** HOME ****************************************/

.home-box {
  flex: 1;
  width: 100%;
  margin: auto;
  min-height: 100vh;
  background-color: var(--orange);
}

.home-box h1{
  padding: 1em 0 .5em;
  color: var(--blue);
}

.home-box h2{
  padding: .5em 0 0em;
  color: var(--green);
}

.home-box h3 {
  padding: 0 .5em 1em;
  color: var(--blue);
}

.home-box button {
  background-color: var(--greenBkgd);
  color: white;
  font-size: 1.8em;
  border: solid var(--green);
  box-shadow: 3px 3px 5px var(--green);
  border-radius: 10%;
  min-width: 100px;
}

.home-box button:hover {
  cursor: pointer;
}

.play {
  letter-spacing: 2px;
}

/** CONTENT PAGE **********************************/

.content-box {
  flex: 1;
  width: 100%;
  margin: auto;
  min-height: calc(100vh - 65px);
  background-color: var(--greenBkgd);
}

.content-box h2 {
  color: #fff;
  font-size: 1.5em;
  margin-top: 1em;
}

.content-box h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.contents-btn {
  padding: 10px;
  font-size: 3em;
  color: #fff;
  margin: 6px;
  border: none;
  border-radius: 40%;
  min-width: 80px;
  background-color: var(--orange);
}

hr {
  width: 30%;
  margin-bottom: 1em;
}

/** MEDIA LIBRARY **********************************/

.medialibrary-container {
  background-color: var(--red);
}

.medialibrary-box {
  min-height: calc(100vh - 85px);
}

.medialibrary-images {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.media-image img {
  width: 50%;
}

.medialibrary-box h2 {
  color: #fff;
  font-size: 1.5em;
}

.medialibrary-box h3 {
  color: #fff;
  font-size: 1em;
  margin-bottom: 2em;
}



/** MEDIA WATCH *************************************/

.video-box {
  flex: 1;
  width: 100%;
  min-height: calc(100vh - 65px);
  background-color: var(--yellowBkgd);
}

.video-box h2 {
  color: var(--purple);
  font-size: 1.5em;
}

.video {
  margin-top: 4em;
  width: 100%;
}

video {
  width: 90%;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}
video::-webkit-media-controls-panel {
  width: calc(100% + 60px);
  height: 2em;
}

.mediabackbutton {
  width: 50px;
  margin-top: 3em;
}

/** DISPLAY LETTER ***********************************/

.letter-box {
  flex: 1;
  width: 100%;
  padding-top: 4em;
  min-height: calc(100vh - 131px);
  background-color: var(--blueBkgd);
}

#listen-icon {
  position: absolute;
  left: 50%;
  width: 60px;
}

#click-icon {
  position: absolute;
  left: 30%;
  width: 60px;
}

.letters {
  padding-top: .5em;
}

.letter-button {
  font-size: 5em;
  font-weight: 600;
  padding-top: 1.3em;
  padding-right: 30px;
  background:none;
  border:none;
  color: white;
  outline: none;
}

.letter-button:hover {
  cursor: pointer;
}

#next-letter {
  position: absolute;
  left: 85%;
  width: 40px;
}

#next-letter:hover {
  cursor: pointer;
}

#previous-letter {
  position: absolute;
  right: 85%;
  width: 40px;
}

#previous-letter:hover {
  cursor: pointer;
}

.words-box {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
  margin: 0 1em 2em;
}

#wordImage {
  width: 80%;
  margin: 0 15px 0 0;
}

#wordImage:hover {
  cursor: pointer;
}

#media-play {
  width: 50px;
  padding-top: 2em;
}

#media-play:hover {
  cursor: pointer;
}

/** ABOUT *****************************************/
.about-container {
  margin: 0;
  padding: 0;
  background-color: var(--greenBkgd);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.about-box {
  flex: 1;
  width: 80%;
  margin: auto;
  font-size: 0.7em;
  text-align: left;
  min-height: calc(100vh - 64px);
}

.about-box h2 {
  color: var(--purple);
  font-size: 1.5em;
}

.about-heading {
  text-align: center;
}

.profile {
  min-height: 40px;
}

.profile img {
  width: 15%;
  float: left;
  margin-right: 10px;
}

.purpose {
  margin-top: 1.5em;
}

.contact {
  text-align: center;
}
.contact a {
  text-decoration: none;
}

/** PRIVACY ********************************************/
.privacy-container {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--redBkgd);
  width: 100%;
  display: flex;
  flex-direction: column;
  height: auto;
  text-align: center;
}
.privacy-box {
  flex: 1;
  width: 80%;
  margin: auto;
  font-size: 0.6em;
  text-align: left;
  min-height: calc(100vh - 70px);
}

.privacy-box h2 {
  color: var(--purple);
  font-size: 1.5em;
}

.privacy-heading {
  text-align: center;
}

.article {
  margin-left: 2em;
}

/** MEDIA QUERIES ***************************************/

/*HOME*/
@media (min-width: 500px) {
  .home-box h1{
    font-size: 1.4em;
  }
  .home-box h2{
    font-size: 1.2em;
    padding: 0;
  }
  .home-box h3 {
    padding: 0;
  }
  .home-box button {
    font-size: 1.6em;
  }
}
@media (min-width: 700px) {
  .home-box {
    padding-top: 4em;
  }
  .home-box h2{
    padding: 1.5em 0 .5em;
  }
  .home-box h3 {
    padding: 0 0 2em;
  }
  .play {
    font-size: 2em;
    padding: .5em;
  }
}

/*CONTENTS*/
@media (min-width: 700px) {
  .button-container {
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    max-width: 80%;
    margin: 2em auto;
  }
.content-box h2 {
  margin-top: 3em;
}
  .contents-btn {
    padding: 15px;
    font-size: 3em;
  }
  .content-tv {
    width: 10%;
  }
}
@media (min-width: 900px) {
  .button-container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
  .contents-btn {
    padding: 10px;
  }
  .content-tv {
    width: 13%;
  }
}

/*ABOUT*/
@media (min-width: 600px) {
  .about-box {
    font-size: 1em;
    min-height: calc(100vh - 72px);
  }
  .about-content {
    column-count: 2;
  }
  .about-text {
    margin-bottom: 30px;
  }
  .profile-images {
    margin-bottom: 5em;
  }
  .profile {
    min-height: 70px;
  }
  .purpose {
    margin-top: 2em;
  }
  .contact {
    text-align: center;
    margin-top: 2em;
  }
  .profile img {
    width: 25%;
  }
}
@media (min-width: 800px) {
  .profile-images {
    margin-bottom: 12em;
  }
  .profile {
    min-height: 85px;
  }
}
@media (min-width: 1000px) {
  .profile-images {
    margin-bottom: 16em;
  }
  .profile {
    min-height: 100px;
  }
  .profile img {
    width: 18%;
  }
}

/*PRIVACY*/
@media (min-width: 700px) {
  .privacy-box {
    max-width: 80%;
    font-size: .9em;
    min-height: calc(100vh - 66px);

  }
  .privacy-articles {
    column-count: 2;
  }
}

/*DISPLAY LETTER*/
@media (min-width: 400px) {
  .letter-box {
    min-height: calc(100vh - 130px);
  }
  .letters {
    padding-top: 2em;
  }
  .letter-button {
    margin-top: 0em;
  }
  #listen-icon {
    left: 55%;
  }
  #click-icon {
    left: 35%;
  }
  #next-letter {
    left: 80%;
  }
  #previous-letter {
    right: 80%;
  }
}

@media (min-width: 800px) {
  .split-words {
    margin: 10px;
  }
  .letter-button {
    margin-right: 20px;
    font-size: 7em;
  }
}
@media (min-width: 1000px) {
  #listen-icon {
    left: 55%;
  }
  #click-icon {
    left: 40%;
  }
}

/*MEDIA WATCH*/
@media (min-width: 800px) {
  .video {
    margin-top: 2em;
  }
  .mediabackbutton {
    margin-top: 1em;
  }
}
@media (min-width: 1000px) {
  video {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  video {
    width: 60%;
  }
}
@media (min-width: 1400px) {
  video {
    width: 50%;
  }
}

/*MEDIA LIBRARY*/
@media (min-width: 400px) {
  .medialibrary-box {
    min-height: calc(100vh - 85px);
    padding-left: 2em;
  }
  .media-image img {
    width: 50%;
  }
.medialibrary-images {
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
}
@media (min-width: 1000px) {
  .media-image img {
    width: 50%;
  }
  .medialibrary-images {
    grid-template-columns: repeat(5, 1fr);
  }
}
